<!-- checkin.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}


<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
  let map;

  function initMap() {
    //alert("initMap");
    // The location UCCS West Lawn
    const theLocation = { lat: 38.89320, lng: -104.80253 };

    // The map, centered at UCCS
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 14,
      center: theLocation,
    });

    var json_data = "{{ response_data }}";
    json_data = json_data.replaceAll("&#x27;", '"');
    //alert("raw data = " + json_data);
    json_parse = JSON.parse(json_data);
    //alert(json_parse);
    results = json_parse['results'];
    //alert(results);

    for(var i = 0; i < results.length; i++)
    {
      result = results[i];

      if(result.isAvailable == "True")
      {
        marker = new google.maps.Marker({
          map: map,
          position: { lat: result.latitude, lng: result.longitude },
          title: result.type + result.id
        });
      }
    }

    //alert("initMap done");
  }

  window.initMap = initMap
</script>


<link rel="stylesheet" type="text/css" href="{% static 'vehicleMap.css' %}" />

<div id="map"></div>

<!-- Check-in Form -->
{% if rentals %}
  <form method="post" action="{% url 'check_in' %}" id="checkin-form">
    {% csrf_token %}
    
    <h2>Your Rentals:</h2>
    <ul>
      {% for rental in rentals %}
        {% if rental.checkinTime == null %}
          
            <input type="radio" name="rental_id" value="{{ rental.id }}">{{ rental.vehicle.type }} - {{ rental.vehicle.id }} - {{ rental.checkoutTime }}<br>
          
        {% endif %}
      {% endfor %}
    </ul>
    
    <label for="checkin_location">Check-in Location:</label>
    <select name="checkin_location" id="checkin_location" required>
      <option value="" selected disabled>Select location</option>
      {% for location, label in form.fields.checkin_location.choices %}
        <option value="{{ location }}">{{ label }}</option>
      {% endfor %}
    </select>
    <button type="submit">Check In</button>
  </form>
  {% else %}
  <h3>You have no rentals</h3>
{% endif %}


<script async src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"></script>
<div>
  <p><a href="{% url 'vehicleMap' %}">Back to Map</p>
</div>

{% endblock %}



