{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>UCCS Ride Share Vehicle Map</h1>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script>
  let map;

  function initMap() {
    //alert("initMap");
    // The location
    const theLocation = { lat: 38.89320, lng: -104.80253 };
    
    // The map, centered at UCCS
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 16,
      center: theLocation,
    });

    // The marker, positioned at UCCS West Lawn
    var marker = new google.maps.Marker({
      map: map,
      position: theLocation,
      title: 'Scooter1'
    });

    // The marker, positioned near UCCS The Lodge
    marker = new google.maps.Marker({
      map: map,
      position: { lat: 38.89459, lng: -104.80431 },
      title: 'Scooter2'
    });

    // The marker, positioned near UHaul
    marker = new google.maps.Marker({
      map: map,
      position: { lat: 38.889914, lng: -104.787584 },
      title: 'Scooter3'
    });

    // The marker, positioned near Campus Recreation
    marker = new google.maps.Marker({
      map: map,
      position: { lat: 38.895425, lng: -104.806325 },
      title: 'Scooter4'
    });
    //alert("initMap done");
  }

  window.initMap = initMap
</script>

<link rel="stylesheet" type="text/css" href="{% static 'vehicleMap.css' %}" />

<div id="map"></div>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
</script>

{% endblock %}
