{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Vehicle Map</h1>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
  let map;
  let markers = [];

  function initMap() {
    //alert("initMap");
    // The location UCCS West Lawn
    const theLocation = { lat: 38.89320, lng: -104.80253 };
    
    // The map, centered at UCCS
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 14,
      center: theLocation,
    });
    addMarkers();
    
    
    //alert("initMap done");
  }

  function addMarkers(){
    clearMarkers();

    var json_data = "{{ response_data }}";
    json_data = json_data.replaceAll("&#x27;", '"');
    //alert("raw data = " + json_data);
    json_parse = JSON.parse(json_data);
    //alert(json_parse);
    results = json_parse['results'];
    //alert(results);

    for(var i = 0; i < results.length; i++)
    {
      result = results[i];

      if(result.isAvailable == "True")
      {
        marker = new google.maps.Marker({
          map: map,
          position: { lat: result.latitude, lng: result.longitude },
          title: result.type + result.id
        });

        //creating an info window to specify which vehicle is which marker
        var contentString = result.type + result.id
        infowindow = new google.maps.InfoWindow({
          content: contentString,
        });

        //infoWindow key
        marker.infowindow = infowindow;

        //adding click event to marker
        marker.addListener('click', function() {
          return this.infowindow.open(map, this);
        });

        
        markers.push(marker)
      }
    }
  }

  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
  }



  window.initMap = initMap
</script>

<link rel="stylesheet" type="text/css" href="{% static 'vehicleMap.css' %}" />

<div id="map"></div>

<!-- Check-Out Form -->
<form method="post" action="{% url 'vehicleMap' %}" id="checkout-form">
  {% csrf_token %}
  <label for="vehicle_id">Choose a vehicle to check out:</label>
  <br>
  {% for vehicle in vehicles %}
  {% if vehicle.isAvailable %}
    <label>
      <input type="radio" name="vehicle_id" value="{{ vehicle.id }}">
      {{ vehicle.type }} - {{ vehicle.id }}
    </label>
    <br>
  {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-primary">Confirm Checkout</button>
</form>


<!-- Current Rentals -->
{% if rentals %}
  <h2>Your Rentals:</h2>
  
    {% for rental in rentals %}
      <label>{{ rental.vehicle.type }} - {{ rental.vehicle.id }}: {{ rental.checkoutTime }}</label>
      <br>
    {% endfor %}
  
{% else %}
<h3>You have no rentals</h3>
{% endif %}

<!-- Check-in Form -->
<form method="post" action="{% url 'check_in' %}" id="checkin-form">

  {% csrf_token %}
  <input type="hidden" name="vehicle_id" id="vehicle_id" value="{{ vehicle.id }}">
  <label for="checkin_location">Check-in Vehicle:</label>
  <button type="submit" class="btn btn-primary"">Check In</button>
</form>

<script async
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
</script>

{% endblock %}
